body {
background-color: #AADDFF;   /* light-baby-blue */
font-size: 15px;
}
/*
.about-me {
  font-size: 15px;
}
*/
#profpic {
  width:99px;
  height:134px;
  margin-top:60px;
  }
/*
.button-div button {
  width:150px;
  top-margin: 8px;
  bottom-margin: 4px;
  color: white;
  font-weight: bold;
  background-color: #333399;
  }
*/
.features .glyphicon {
  font-size: 40px;
  color: #333399;
  }
#funpic {
  width:240px;
  height:254px;
  margin-top:40px;
  margin-bottom:40px;
  }
/*
#funpic2 {
  width:360px;
  height:381px;
}
#sublime_img {
  width:450px;
  height:211px;
  }
*/