body {
  background-color: #0099FF;   /* light-baby-blue */
  font-size: 15px;
  }
#profpic {
  width:99px;
  height:134px;
  margin-top:10px;
  }
.panel-heading {
  background-color: #FF9900;
  }
.panel-body {
  background-color: #33CCFF;
  }

