body {
  background-color: white;   /* light-baby-blue */
  font-size: 15px;
}
.navbar-brand {
  font-size: 23px;
  margin-right: 418px;
}
.hdrtext {
  font-size: 16px;
  color: white;
}
.top-item {
  margin-left: -10px;
}
#profpic {
  border-radius: 55%;
  width: 100px;
  height: 102px;
  margin-top: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.persname {
  font-size: 26px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -3px;
}
.profdescr {
  font-size: 22px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
.panel-default > .panel-heading {
  color: white;
  background-color: gray;
}
.panel-body {
  color: black;
  background-color: #CCCCCC;
}
.back2top {
  color: #0000FF;
  font-style: italic;
}

