body {
  background-color: white;   /* light-baby-blue */
  font-size: 15px;
}
.navbar-brand {
  font-size: 24px;
  margin-right: 395px;
}
.hdrtext {
  font-size: 16px;
  color: white;
}
.top-item {
  margin-left: -10px;
}
#profpic {
  border-radius: 48%;
  width: 93.5px;
  height: 94.2px;
  margin-top: 6px;
}
.persname {
  color: black;
  margin-top: 15px;
  margin-bottom: -3px;
}
.profdescr {
  color: black;
  margin-bottom: 19px;
}
.panel-default > .panel-heading {
  color: white;
  background-color: gray;
}
.panel-body {
  color: black;
  background-color: #CCCCCC;
}
.back2top {
  color: #0000FF;
  font-style: italic;
}

